/* Compass spokes light blue: #252161
   Banner lettering dark blue: #252161
*/

html { 
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
  background-color: white;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
}

#wrapper {
	width: 940px;
	color: black;
	margin-top: 0;
	padding-top: 0;
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
  
  border-right: 2px solid #252161;
  background-color: #252161;
}

#banner {
  clear: both;
  height: 271px;
  width: 740px;
  float: right;
  margin-bottom: 40px;
}

#nav {
  float: left;
  width: 180px;
  position: fixed;
  font-size: 12pt;
  padding: 10px;
  color: white;
  /*background-color: #252161;*/
}

#nav a {
  color: white;
  text-decoration: none;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav li {
  margin: 0;
  padding-bottom: 1em;
}

#main  {
  float: right;
	text-align: left;
  width: 740px;
  background-color: white;
  border-left: 2px solid #252161;
}

#content {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
}

hr {
  height: 2px;
  background-color: #252161;
  border: none;
}


a {
	/*color: white;	*/
  /*color: orange;*/
  /*color: #FFFF64*/
  /*color: #5DA5A1*/
  /*color: #5C7293;*/
  color: #252161;
}

h1 {
	font-size: 22pt;
	font-weight: bold;
	color: #252161;
}

#footer {
  padding: 10px;
	font-size: 10pt;
	text-align: center;
  clear: both;
  background-color: #252161;
  color: white;
  border-top: 2px solid white;
}
#footer a{
	color: white;
}

/* ---------------------------------------------------------------- */
/* FLOATS */

.float-right {
	float: right;
	margin-left: 10px;
}
.float-left {
	float: left;
	margin-right: 10px;
}

/* ---------------------------------------------------------------- */
/* FORMATTING */

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.small {
	font-size: small;
}

.center {
	text-align: center;
}

img.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.date-description {
  font-weight: bold;
}

.news-date {
  font-weight: bold;
}

.news-table {
  background-color: #ffffcc;
}

/* ---------------------------------------------------------------- */
/* LISTS */

ul {
  margin: 0;
  padding-left: 1.5em;
  padding-bottom: 1em;
}

ul li, ol li {
	margin-top: 10px;
}

ul.nopadding li, ol.nopadding li {
  margin: 0;
  padding: 0;
}

ul.padding li, ol.padding li{
	padding-bottom: 1em;
}